/* css/secao-certificacao.css */
.secao-certificacao{
  padding:20px 70px 80px;
}

.conteudo-certificacao{
  max-width:1400px;
  margin:0 auto;
  text-align:center;
  display:flex;
  flex-direction:column;
  gap:32px;
}

.titulo-certificacao{
  margin:0;
  font-weight:700;
  font-size:46px;
  color:#111111;
}

.subtitulo-certificacao{
  margin:0;
  font-weight:500;
  font-size:18px;
  color:#333333;
}

/* Grid dos certificados */
.grid-certificados{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:0;
  margin:16px auto 0;
  width:80%;
}

.card-certificado{
  width:100%;
  height:400px;
  aspect-ratio:4 / 3;
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain;
}



/* Responsivo */
@media(max-width:900px){
  .secao-certificacao{
    padding:0px 24px 24px;
  }

  .conteudo-certificacao{
    gap:24px;
  }

  .titulo-certificacao{
    font-size:32px;
  }

  .grid-certificados{
    grid-template-columns:1fr;
    gap:24px;
  }
  .card-certificado{ 
    height: auto;
  }

}
