.secao-principal-topo {
  padding: 60px 70px;
}

.conteudo-principal-topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  max-width: 1400px;
  margin: 0 auto;
}

.coluna-texto-topo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.titulo-principal-topo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 93%;
  color: var(--cor-texto);
  margin: 0;
}

.subtitulo-principal-topo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  max-width: 580px;
  margin: 0;
}

.botao-principal-topo {
  background: #1F4B8C;
  color: #fff;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: max-content;
  transition: .2s;
}

.botao-principal-topo:hover {
  opacity: .9;
}

.coluna-imagem-topo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.container-imagem-topo {
  width: 580px;
  height: 300px;
  background: #1F4B8C;
  border-radius: 26px;
}

@media (max-width: 1000px) {
  .secao-principal-topo {
    padding: 0px 24px 10px;
  }

  .conteudo-principal-topo {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }

  .coluna-texto-topo {
    display: contents;
  }

  .titulo-principal-topo {
    order: 1;
    width: 100%;
    font-weight: 700;
    font-size: 40px;
  }

  .subtitulo-principal-topo2 {
    order: 2;
    width: 100%;
  }

  .coluna-imagem-topo {
    order: 3;
    justify-content: center;
    width: 100%;
  }

  .subtitulo-principal-topo:not(.subtitulo-principal-topo2) {
    order: 4;
    width: 100%;
  }

  .botao-principal-topo {
    order: 5;
    margin: 0 auto;
  }

  .container-imagem-topo {
    width: 90%;
    max-width: 500px;
    height: 260px;
    background: #1F4B8C;
    border-radius: 26px;
  }

}